

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 75px;
    font-family: 'Mohave', sans-serif;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

.markercont {
    width: 90px;
    height: 90px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}

#turnDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    font-size: 25px;
}